In [2]:
import pandas as pd

In [11]:
df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'], 'D': ['D2', 'D3', 'D6', 'D7'], 'A': ['F2', 'F3', 'F6', 'F7']})

In [12]:
df1 = pd.DataFrame({'E': ['A0', 'A1', 'A2', 'A3'], 'F': ['B0', 'B1', 'B2', 'B3'], 'C': ['C0', 'C1', 'C2', 'C3'], 'G': ['D0', 'D1', 'D2', 'D3']})

In [24]:
df1

    C   E   F   G
0  C0  A0  B0  D0
1  C1  A1  B1  D1
2  C2  A2  B2  D2
3  C3  A3  B3  D3

In [25]:
df4

    A   B   D
0  F2  B2  D2
1  F3  B3  D3
2  F6  B6  D6
3  F7  B7  D7

In [28]:
result = pd.concat([df1, df4], axis=1)

In [29]:
result

    C   E   F   G   A   B   D
0  C0  A0  B0  D0  F2  B2  D2
1  C1  A1  B1  D1  F3  B3  D3
2  C2  A2  B2  D2  F6  B6  D6
3  C3  A3  B3  D3  F7  B7  D7