In [13]:
from selenium import webdriver
from bs4 import BeautifulSoup # import urllib

In [21]:
query = "메이크업"
query_url = "https://www.youtube.com/results?search_query=" + query
youtube_address = "https://www.youtube.com"
youtuber_list_path = "../csv/youtuber_list_.csv"

In [15]:
driver = webdriver.Firefox()
driver.get(query_url)
source = driver.page_source
bs = BeautifulSoup(source, "html.parser")

In [16]:
# ("a", {"class", "yt-uix-button vve-check yt-uix-sessionlink yt-uix-button-default yt-uix-button-size-default"})
# ("a", {"class" : "g-hovercard yt-uix-sessionlink spf-link "})
url_list = bs.find_all("a", {"class", "yt-simple-endpoint style-scope yt-formatted-string"})

In [17]:
youtuber_list = []
for url in url_list:
    youtuber_list.append([url.getText(), youtube_address + url['href']])

In [9]:
import pandas as pd
youtuber_list_df = pd.DataFrame(youtuber_list, columns = ['user_name', 'user_address', 'videos_address'])

In [18]:
youtuber_list_df.head(3)

  user_name                                       user_address videos_address
0        씬님              https://www.youtube.com/user/Hines382           None
1       윤짜미            https://www.youtube.com/user/yooncharmi           None
2       이사배  https://www.youtube.com/channel/UC9kmlDcqksaOn...           None

In [19]:
import time 

for i, row in youtuber_list_df.iterrows():
    driver.get(row["user_address"])
    time.sleep(5)
    
    tabs_info = "return window['ytInitialData']['contents']['twoColumnBrowseResultsRenderer']['tabs']"
    video_tabs = driver.execute_script(tabs_info)[1]['tabRenderer']['endpoint']['commandMetadata']['webCommandMetadata']['url']
    
    youtuber_list_df['videos_address'][i] = youtube_address + video_tabs
driver.quit()

In [20]:
youtuber_list_df.head(3)

,user_name,user_address,videos_address
0,씬님,https://www.youtube.com/user/Hines382,https://www.youtube.com/user/Hines382/videos
1,윤짜미,https://www.youtube.com/user/yooncharmi,https://www.youtube.com/user/yooncharmi/videos
2,이사배,https://www.youtube.com/channel/UC9kmlDcqksaOn...,https://www.youtube.com/channel/UC9kmlDcqksaOn...

In [ ]:
youtuber_list_df.to_csv(youtuber_list_path, encoding="utf-8", index=False)